//Animations

@import "animations";

//Variables

$font-size-hero: 0.9rem;

.hero {
    @include tamaños($color-fondo);
    
    h1 {
        
        color: $color-h1;
        text-align: center;
        text-transform: uppercase;
        font-family: $font-family;
        font-size: 1rem;
        padding: 1.5rem 0;
    }

    .img-hero {
        display: flex;
        justify-content: center;
        img {
            
            height: 400px;
        }
    }

}

.lista-nav-hero {
    display: flex;
    justify-content: center;
    padding: 2rem;
    

    li {
        list-style: none;
        margin-right: 1rem;
        color: $color-h1;
        min-height: 30px;
        a {
            
            text-decoration: none;
            color: $color-h1;
            font-family: $font-family;
            font-weight: bold;
            text-transform: uppercase;
            line-height: 30px;
            font-size: $font-size-hero;
            transition: all .3s ease-in-out;
            

            &:hover {
                color: white;
            }
        }

        &:last-child {
            margin-right: 0;
        }   
    }

  .nav-hero-slash {
      font-weight: bolder;
      font-size: $font-size-hero;
      line-height: 30px;
  }

}


/*MEDIA QUERYS*/
//TABLETS

@media only screen and (max-width: 1024px) {
    .hero {
        display: flex;
        flex-direction: column;
        
        h1{
            font-size: 1.5rem;
            padding: 0;
        }
        .img-hero {
            display: flex;
            justify-content: center;
            
            img {
                
                height: 300px;
            }
        }
    }

    .lista-nav-hero {
        li{
            a{
                font-size: 1.2rem;
            }
        }
    }
}


//CELUS
$align: end;

@media only screen and (max-width: 812px) and (orientation: landscape) {
    .hero {
        height: 100vh;
        display: grid;
        h1{
            font-size: 2.5rem;
            display: block;
            padding: 0; 
        }
        .img-hero {
            display: block;
            img { 
                display: none;
            }
        }
    }

    .nav-hero {
        align-self: $align;
    }

    .lista-nav-hero {
        display: block;
        padding: 0.3rem;
        //height: 100%;
        

        .nav-hero-slash{
            display: none;
        }

    }
}

@media only screen and (max-width: 768px) {
    .hero {
        display: grid;
        //flex-direction: column;
        h1{
            font-size: 2rem;
            display: block;
            padding: 0;
            align-self: end;
        }
        .img-hero {  
            display: block;
            margin: 0 auto;
            align-self: center; 
            img {     
                display: block;
                height: 400px;
            }
        }
    }

    .nav-hero {
        align-self: start;
    }

    .lista-nav-hero {
        display: flex;
        padding: 0.3rem;
        //height: 100%;
        

        .nav-hero-slash{
            display: block;
            font-size: 1.5rem;
        }

    }
}

@media only screen and (max-width: 580px) {
    .hero {

        h1{
            align-self: start;
            font-size: 3.3rem;
        }
       
        .img-hero {
            
            display: none;
            
            img {
                
                display: none;
            }
        }
    }

    .nav-hero {
        align-self: $align;
    }

    .lista-nav-hero {
        display: block;
        padding: 0.3rem;
        //height: 100%;
        

        .nav-hero-slash{
            display: none;
        }

    }
}

